<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
        id          = "ru.yodoo"
        versionCode = "10"
        version     = "1.5.0">

    <name>Yodoo</name>

    <description>
        Новая платформа для начинающих блоггеров
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#FFFFFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/14b8cc2166550ef948c1c3d3a8a59118.png" density="ldpi" />
        <icon src="res/android/icon/6b582c96da1a577d100c186a9bd11f1b.png" density="mdpi" />
        <icon src="res/android/icon/ab7e75c72559cf45ef2b30b2f28ea23f.png" density="hdpi" />
        <icon src="res/android/icon/5435ac85818e8284b968b5d39d5bfb47.png" density="xhdpi" />
        <icon src="res/android/icon/efba873da0bab1c1953dd782c5e978de.png" density="xxhdpi" />
        <icon src="res/android/icon/4f1d48f2a314a910c359cb2206bd3b17.png" density="xxxhdpi" />

        <splash src="res/android/screen/6c5bd4ef4ef36d8e6986ef5c20fa972a.png" density="port-hdpi"/>
        <splash src="res/android/screen/d3653772e9a576e2e5b9b88780ff9af1.png" density="port-ldpi"/>
        <splash src="res/android/screen/2e73b4a1f68fc173cc8e0386d3de4e82.png" density="port-mdpi"/>
        <splash src="res/android/screen/29368377bd0f5082b80388aab55d0ff0.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/c9a52ddb640275d0a483274725e1ff29.png" width="180" height="180" />
        <icon src="res/ios/icon/c34d275e48b1396934342632d753cd50.png" width="60" height="60" />
        <icon src="res/ios/icon/104b7c338dc3814b6b6e040c290efced.png" width="120" height="120" />
        <icon src="res/ios/icon/ffbacabe4aef884b65eac236d4f1199b.png" width="76" height="76" />
        <icon src="res/ios/icon/9b890b89d187829fa757b4ef7fadcff0.png" width="152" height="152" />
        <icon src="res/ios/icon/1d3d01860d7579736461ea5f832271d6.png" width="57" height="57" />
        <icon src="res/ios/icon/9b9a72ed4ab07d65123ad021d1e2010f.png" width="114" height="114" />
        <icon src="res/ios/icon/46cd9cca86545a44a52083330a721870.png" width="72" height="72" />
        <icon src="res/ios/icon/7c946f1d55627241e5ce0e6c81efe505.png" width="144" height="144" />
        <icon src="res/ios/icon/cd46ae8d75d7991bc261f400bdc39c8d.png" width="167" height="167" />
        <icon src="res/ios/icon/1517c6dfa9989a914d40dc2af5eff394.png" width="29" height="29" />
        <icon src="res/ios/icon/35ba88867f5a64b6a23c8af82c8614f6.png" width="58" height="58" />
        <icon src="res/ios/icon/b695f86cf33485cb5825986d7b81d3fe.png" width="87" height="87" />
        <icon src="res/ios/icon/359a1c72a3cd19d36e473cabb2d1dadd.png" width="167" height="167" />

        <splash src="res/ios/screen/8cf756c98ff9aac02e8f89908fd93e23.png" />
        <splash src="res/ios/screen/1995fc1baba6bb726b55581d7b7af751.png" />
        <splash src="res/ios/screen/a1464753123902744d1a926568f674dc.png" />
        <splash src="res/ios/screen/c9b2cf02cc4ee12ec6ad58a427b6a912.png" />
        <splash src="res/ios/screen/b3f14cb28adc21f04e021b86e0bd0621.png" />
        <splash src="res/ios/screen/30ac1f45da31d0b02f4b23adb0b78e3b.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/8edc3a85bb1a19077ccca92e1f58157f.png" target="StoreLogo" />
        <icon src="res/windows/icon/1d753319f21489daac251c3511e697f8.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/b8c761166eb4e8409ee622fc8b7d335c.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/5c85b7bce6fd761deb4df1b731b6e980.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/9c6f8c81738d3926c87c07938f2b5d20.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/e5b67f48124a3ce414f00b17bd4f3801.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/628bc28f7731423342fd0d7de787b05b.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/3713f8ed649ef4f7b5b89bfdc96875a8.png" target="SplashScreen"/>
        <splash src="res/windows/screen/637a4894d7e9a4505805e131149d1692.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>